---
interface Props {
    title: string;
    photo: string;
    menu: string[];
}

const { title, photo, menu } = Astro.props;
---

<div class="navbar bg-base-200">
    <div class="flex-1">
        <a class="btn btn-ghost text-2xl text-primary-content" href="/"
            >{title}</a
        >
    </div>
    <div class="flex-none gap-2">
        <div class="dropdown dropdown-end">
            <div
                tabindex="0"
                role="button"
                class="btn btn-ghost btn-circle avatar"
            >
                <div class=`w-10 rounded-full ${photo}`></div>
            </div>
            <ul
                tabindex="0"
                class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-40"
            >
                {
                    menu.map((item) => {
                        {
                            if (item === "Home") {
                                return (
                                    <li>
                                        <a href="/">{item}</a>
                                    </li>
                                );
                            } else if (item === "Logout") {
                                return (
                                    <li>
                                        <a href="/api/auth/logout">{item}</a>
                                    </li>
                                );
                            } else {
                                return (
                                    <li>
                                        <a href={item.toLowerCase()}>{item}</a>
                                    </li>
                                );
                            }
                        }
                    })
                }
            </ul>
        </div>
    </div>
</div>
